<h2>home page for exercise</h2>

<ul>
  <% @exercises.each do |exercise| %>
    <%= render "exercise", :exercise => exercise %>
  <% end %>
</ul>

<hr>

<%= link_to "New Exercise", new_exercise_path %>
